body {
  background: url(brushed.png);
  overflow: hidden;
  margin: 0;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica;
}

div.stats {
  background: url(zwartevilt.png);
  position: absolute;
  z-index:99;
  width:300px;
  height:980px;
}

div.stats .header {
  position:relative;
  left:10px;
  line-height: 50px;
  color: white;
  font-size: 35px;
}
div.stats span {
  background: url(zwartevilt.png);
  position: absolute;
  z-index:99;
  width:300px;
  height:980px;
}

svg {
  position:absolute;
}

.node circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font-size: 11px;
}

path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}